*.class
*.log
*.bak
*.bin
*.elf
*.coe
*.o
*.a
golden_trace.txt

!core/**/rtl/*.v

# sbt specific
.bsp/
.cache/
.history/
.lib/
dist/*
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea
out

# Eclipse
bin/
.classpath
.project
.settings
.cache-main

# VSCode
.vscode/

# Metals
.metals/
.bloop/
project/project
metals.sbt

#User
/*.vhd
/*.v
*.cf
*.json
*.vcd
!tester/src/test/resources/*.vhd


simWorkspace/
tmp/
null

tests/func/bin.lds
tests/func/convert
tests/func/**/obj
core/*.v

# Vivado
*.runs/
*.sim/
*.jou
*.ip_user_files/
**/xilinx_ip/clk_pll/*
!**/xilinx_ip/clk_pll/*.xci
**/xilinx_ip/data_ram/*
!**/xilinx_ip/data_ram/*.xci
**/xilinx_ip/inst_ram/*
!**/xilinx_ip/inst_ram/*.xci
